.content{
  margin-left: 250px;
  padding-left: 30px;
  padding-top: 100px;
}

textarea, input[type=text] {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
	border: 0 !important;
	background: #5c6664;
	background-image: none;
	flex: 1;
	padding: 0 .5em;
	color: #fff;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
}

textarea::placeholder, input[type=text]::placeholder {
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
}

textarea::-ms-expand, input[type=text]::-ms-expand {
	display: none;
}

.textfield {
	position: relative;
	display: flex;
	width: 20em;
	height: 3em;
	line-height: 3;
	background: #5c6664;
	overflow: hidden;
	border-radius: .25em;
}

.button i{
  padding-right: 10px;
}

.button {
	display: block;
	background: #00b829;
	padding: 10px 40px;
	border-radius: 12px;
	color: #003B15;
	font-weight: 700;
	font-size: 1em;
	cursor: pointer;
}

.error {
	font-size: 1em;
	color: #af0d00;
}

table.tab {
  font-family: 'Open Sans', sans-serif;
  border: 2px solid #000000;
  background-color: #38443d;
  width: 100%;
  height: 200px;
  text-align: left;
  border-collapse: collapse;
}
table.tabSwimmer {
  font-family: 'Open Sans', sans-serif;
  border: 2px solid #000000;
  background-color: #38443d;
  text-align: left;
  border-collapse: collapse;
}
table.tab td, table.tab th, table.tabSwimmer td, table.tabSwimmer th {
  border: 2px solid #4A4A4A;
  padding: 5px 20px;
}
table.tab td, table.tabSwimmer td {
  font-size: 15px;
  font-weight: bold;
  color: #E6E6E6;
}
table.tab tr:nth-child(even), table.tabSwimmer tr:nth-child(even){
  background: #5c6664;
}
table.tab th, table.tabSwimmer th{
  background: #000000;
  border-bottom: 3px solid #000000;
  font-size: 17px;
  font-weight: bold;
  color: #E6E6E6;
  text-align: center;
  border-left: 2px solid #4A4A4A;
}
table.tab th:first-child, table.tabSwimmer th:first-child {
  border-left: none;
}
